<!DOCTYPE html>
<html lang="en" dir="ltd">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>Address</td>
        <td>Designation</td>
        <td>Gender</td>
      </tr>
      <%var i=0;%>
      <% array.forEach(function(dat) { %>
        <tr>
          <td><%= dat.empName %></td>
          <td><%= dat.empPhone %></td>
          <td><%= dat.empAddress %></td>
          <td><%= dat.empDesig %></td>
          <td><%= dat.empGender %></td>
          <td><a href="/edit?id=<%=i%>">Update</a></td>
          <td><a href="/delete?id=<%=i%>">Delete</a></td>
        </tr>
        <%i++;%>
      <% }); %>
    </table>
    <a href="/aDashboard">Go Back to Dashboard</a>
  </body>
</html>
